.lm_goldenlayout {
  overflow: hidden;
}

.lm_vertical {
  background-color: #FFF;
  border-bottom: 1px solid #BBB;
  border-top: 1px solid #BBB;
}

.lm_splitter .toggle-button {
  pointer-events: auto;
}

.lm_splitter.lm_horizontal {
  background-color: #FFF;
  box-shadow: 0 1px 0 #BBB,0 2px 2px rgba(0,0,0,0.4);
}
